* {
    margin: 0;
    padding: 0;
}

.bxbb {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.decoration_none {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.logo {
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    align-items: center;
    margin-right: 37px;
    border-bottom: 1px solid transparent;
}

.logo:hover {
    font-weight: 300;
    color: #f16d7f;
    border-bottom: 1px solid #f16d7f;
}

.browse {
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    width: 87px;
    height: 38px;
    padding-left: 15px;
    padding-top: 8px;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    position: relative
}

.browse:hover {
    color: #222222;
    box-shadow: -1px 0 2px;
}

.browse i {
    position: absolute;
    padding-left: 8px;
    top: 7px;
}

.header__flex {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
    height: 100px;
}

.header__left {
    align-items: center;
}

.header__text {
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    width: 280px;
    height: 36px;
    padding-left: 15px;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    margin-left: -1px;
}

.header__text:hover {
    box-shadow: -1px 0 2px;
}

.search {
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    width: 36px;
    height: 38px;
    margin-left: -1px;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
}

.search:hover {
    box-shadow: -1px 0 2px;
}

.header__right {
    align-items: center;
}

.button {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    padding-top: 2px;
    padding-left: 19px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.38px;
    position: relative
}

.button:hover {
    color: #222222;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.16);
}


.button i {
    position: absolute;
    padding-left: 8px;
    padding-top: 6px;
}

.logo__img {
    margin-right: 13px
}

.header__cart {
    margin-right: 26px;
    width: 31px;
    height: 38px;
    align-items: flex-end;
}

.header__cart img {
    width: 32px;
    height: 29px;
    /*border-bottom: 1px solid transparent;*/
}

.header__cart img:hover {
    border-bottom: 1px solid #222222;
}

/**=============================================**/

.menu__link {
    display: block;
    padding: 20px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu__link:hover {
    color: #b2b2b2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}

.menu__link:focus {
    color: #b2b2b2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}

.menu {
    list-style: none;
    justify-content: center;
}

.slider {
    height: 613px;
    background-color: #e8e8e8;
}

.slider__content {
    height: 100%;
    background-image: url(/img/Layer_24.png);
    background-position: 0 -51px;
    display: flex;
    align-items: center;
}

.slider__mini-text {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 34px;
}

.slider__big-text {
    color: #222222;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 12px;
}

.slider__text {
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.slider__color {
    color: #f16d7f;
    letter-spacing: 1px;
}

/**===============================================================**/

.category_promo {
    padding-top: 98px;
}

.banner {
    width: 560px;
    height: 823px;
}

.baner2 {
    width: 560px;
    height: 823px;
    margin-left: 20px;
}

.promo1 {
    width: 560px;
    height: 542px;
    background-image: url(/img/promo1.png);
    margin-bottom: 20px;
    position: relative;
}

.promo2 {
    width: 560px;
    height: 261px;
    background-color: #dadad2;
    position: relative;
}

.promo__img {
    width: 411px;
    height: 240px;
    background-image: url(/img/promo2.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    z-index: inherit;
}

.promo3 {
    width: 560px;
    height: 261px;
    background-image: url(/img/promo3.png);
    margin-bottom: 20px;
    position: relative;
}

.promo4 {
    width: 560px;
    height: 542px;
    background-image: url(/img/promo4.png);
    position: relative;
}

.badge {
    background-color: #ffffff;
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    padding-left: 19px;
    padding-top: 16px;
}

.common__promo:hover {
    box-shadow: 8px 14px 5px rgba(0, 0, 0, 0.16);
}

.common__promo2:hover {
    box-shadow: -8px 14px 5px rgba(0, 0, 0, 0.16);
}

.badge__color {
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
    font-weight: 700;
}

.badge_1 {
    width: 175px;
    height: 82px;
    position: absolute;
    top: 26px;
}

.badge_2 {
    width: 225px;
    height: 82px;
    position: absolute;
    z-index: 1;
    top: 26px;
}

.badge_3 {
    width: 162px;
    height: 82px;
    position: absolute;
    top: 26px;
}

.badge_4 {
    width: 180px;
    height: 82px;
    position: absolute;
    top: 26px;
}

/**==========================================================**/

.product {
    padding-top: 100px;
    text-align: center;
}

.product h3 {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
}

.product p {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;

}

.list__product {
    padding-top: 60px;
    text-align: left;
}

.sub__list__product {
    height: 364px;
    justify-content: space-between;
}

.sub__list__product2 {
    height: 403px;
    padding-top: 39px;
    justify-content: space-between;
}

.product__text {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.common_product {
    width: 261px;
    height: 100%;
    background-repeat: no-repeat;
    line-height: 9px;
    padding-top: 299px;
    padding-left: 14px;
    position: relative;
}

.common_product:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

.common_product:hover .hover_product {
    display: flex;
    cursor: pointer;
}

.hover_product {
    display: none;
    background-repeat: no-repeat;
    background-image: url(/img/Background.png);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    justify-content: center;
    padding-top: 98px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.product_button:hover {
    box-shadow: 0 0 5px #fff;
}

.product_button {
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    justify-content: center;
    align-items: center;
}

.product_button img {
    padding-right: 8px;
}


.product__color {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40px;
}

.product_1 {
    background-image: url(/img/1.png);
}

.product_2 {
    background-image: url(/img/2.png);
}

.product_3 {
    background-image: url(/img/3.png);
}

.product_4 {
    background-image: url(/img/4.png);
}

.product_5 {
    background-image: url(/img/5.png);
}

.product_6 {
    background-image: url(/img/6.png);
}

.product_7 {
    background-image: url(/img/7.png);
}

.product_8 {
    background-image: url(/img/8.png);
}

.browse__product {
    justify-content: center;
    align-items: center;
    margin-top: 58px;
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.browse__product:hover {
    color: #222222;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.16);
}

/*=====================================================*/

.feature {
    height: 529px;
    background-repeat: no-repeat;
    background-image: url(/img/Background_sale.png);
    margin-top: 113px;
    margin-bottom: 97px;
}

.feature__offer {
    width: 767px;
    height: 529px;
    background-repeat: no-repeat;
    background-image: url(/img/Layer_38.png);
}

.feature__offer_text {
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-image: url(/img/fons.png);
    padding-left: 39px;
    padding-top: 146px;
}

.feature__offer_text span {
    color: #f16d7f;
    letter-spacing: 1.5px;
}

.feature__offer_text:hover {
    outline: 1px solid #f16d7f;
}

.feature__offer_text p {
    font-size: 32px;
    letter-spacing: 0.9px;
    color: #ffffff;
    text-transform: uppercase;
}

.feature__list {
    padding: 25px 0;
    width: 373px;
}

.delivery,
.discounts,
.Quality {
    height: 33.3%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.feature__ico {
    margin-top: -85px;
    padding-right: 33px;
}

.feature__text h3 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-bottom: 17px;
}

.feature__text p {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    line-height: 24px;
}

/*==========================================*/


.subscribe {
    height: 438px;
    background-color: #f7f7f8;
    margin-bottom: 123px;
}

.subscribe_img {
    width: 1618px;
    height: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url(/img/Rectangle_9_copy.png), url(/img/Layer_41.png);
}

.subscribe_bgi {
    height: 100%;
    justify-content: space-between;
    padding-top: 111px;
}

.subscribe__text_1 {
    color: #222224;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0.4px;
    line-height: 26px;
}

.subscribe__part_1 {
    padding-left: 28px;
}

.dhaka {
    padding-top: 19px;
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 14px;
}

.dhaka span {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
}

.subscribe__text_2 {
    text-align: center;
    color: #222224;
    text-transform: uppercase;
}

.subscribe__text_2 h3 {
    line-height: 48px;
    font-size: 24px;
    letter-spacing: 0.6px;
    font-weight: 400;
}

.subscribe__text_2 p {
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.35px;
    padding-bottom: 35px;
}

.subscribe__submit {
    border-radius: 23px 0 0 23px;
    width: 282px;
    height: 46px;
    background-color: #e1e1e1;
    border: 1px solid #e6e6e6;
    opacity: 0.67;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    margin-left: -1px;
    padding-left: 28px;
}

.subscribe__submit:hover {
    box-shadow: -1px 0 2px;
}

.subscribe__button {
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    width: 104px;
    height: 46px;
    border: 1px solid #e6e6e6;
    margin-left: -1px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
}

.subscribe__button:hover {
    color: #222222;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.16);
}

/*==============================================*/

.footer {
    height: 349px;
    justify-content: space-around;
}

.footer_text {
    width: 428px;
    height: 260px;
}

.footer_text p {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    line-height: 22px;
    padding-top: 41px;
}

.footer_head {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    line-height: 26px;
    padding-bottom: 40px;
    padding-top: 12px;
}

.footer li {
    list-style-type: none;
}

.footer li a {
    display: block;
    text-decoration: none;
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 40px;
}

.footer li a:hover {
    color: #222224;
}

/*===================================*/

.footer_reserved {
    height: 79px;
    background-color: #e6e6e6;
}

.reserved_content {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.reserved_messeng a {
    width: 32px;
    height: 32px;
    text-decoration: none;
    margin-left: 8px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    color: #b2b2b2;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    position: relative
}

.reserved_messeng a:hover {
    background-color: #f16d7f;
    color: #f7f7f8;
}

.reserved_messeng a:focus {
    background-color: #d6d6d6;
    color: #b2b2b2;
}


.reserved_text {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}
